@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans_Condensed-Light.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans_SemiCondensed-Bold.ttf");
}
@font-face {
  font-family: "Kurale";
  src: url("../fonts/Kurale-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.ttf");
}
body {
  min-height: 100%;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  z-index: 1000;
  top: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  font-size: 16px;
  line-height: 1.5;
}
.header a {
  color: white;
  padding: 0 20px;
}
.header a:hover {
  color: tan;
  transition: all 300ms ease;
}
.header svg:hover {
  cursor: pointer;
}
.header .navbar {
  display: flex;
}
.header .nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}
.header .cart-profile {
  display: flex;
  padding: 20px 20px;
  position: absolute;
  right: 0;
}
.header .cart {
  display: flex;
  margin-left: 10px;
}
.header .cart-amout-products {
  margin-left: 5px;
  color: #000;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}
.header .cart-amout-products:hover {
  cursor: pointer;
}

.footer {
  background-image: url("../image/pelmeni-weine20dark.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-attachment: fixed;
  padding-top: 120px;
}
.footer .content {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.footer .content h3 {
  margin-bottom: 10px;
  font-size: 21px;
}
.footer .content .place {
  background-image: url("../image/Vector-10.svg");
  padding-left: 25px;
}
.footer .content .footer_tel {
  background-image: url("../image/60058b62e6f5594d2036ef4b_Vector-11.svg");
  padding-left: 25px;
}
.footer .content .footer_email {
  background-image: url("../image/60058b6391b65a5ee957b32e_Vector-12.svg");
  padding-left: 25px;
}
.footer .content .footer_time {
  background-image: url("../image/60058b62efa1c78b45e68459_Vector-13.svg");
  padding-left: 25px;
}
.footer .content ul {
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer .content ul li {
  margin-bottom: 30px;
}
.footer .content ul a {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.footer .content .footer_social {
  display: flex;
  opacity: 0.7;
}
.footer .content .footer_social a {
  margin-right: 20px;
}
.footer .content .footer_social a svg {
  width: 42px;
  height: 42px;
}
.footer .line {
  height: 1px;
  background-color: white;
  opacity: 0.7;
}
.footer .footer_bottom {
  color: #b8b8b8;
  text-align: center;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.footer .copyright {
  margin-bottom: 10px;
}

.wrap_sec_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  margin: auto;
  height: 100%;
  color: white;
}
.wrap_sec_1 .logo_pfunt {
  text-align: center;
  margin-bottom: 10px;
}
.wrap_sec_1 .logo_pfunt img {
  width: 20%;
}
.wrap_sec_1 h1 {
  font-family: "Kurale", sans-serif;
  font-size: 67px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.wrap_sec_1 .separator {
  text-align: center;
}
.wrap_sec_1 .separator img {
  width: 15%;
}
.wrap_sec_1 p {
  font-family: "Kurale", sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ex1 {
  margin-top: -65px;
  animation: back 12s linear infinite alternate;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative;
}
@keyframes back {
  0% {
    background-image: url("../image/huhnchen_pelmeni_banner.jpg");
  }
  50% {
    background-image: url("../image/wareniki_kirsche_banner.jpg");
  }
  100% {
    background-image: url("../image/6004788b98c87bf710848f8e_Group2012.jpg");
  }
}
.ex1 .shop-button {
  display: inline-block;
  border: 1px solid white;
  padding: 10px 25px;
  margin-top: 40px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.5s ease;
}
.ex1 .shop-button:hover {
  background-color: white;
  color: #5f5f5f;
}
.ex1 .slide-nav {
  position: absolute;
  bottom: 15px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
.ex1 .slide-nav .slide {
  width: 15px;
  height: 15px;
  margin-right: 16px;
  background-color: white;
  border-radius: 50%;
}
.ex1 .slide-nav .slide1 {
  animation: sl1 12s infinite alternate;
}
@keyframes sl1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.ex1 .slide-nav .slide2 {
  animation: sl2 12s infinite alternate;
}
@keyframes sl2 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.ex1 .slide-nav .slide3 {
  animation: sl3 12s infinite alternate;
}
@keyframes sl3 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.ex2 {
  margin-top: 120px;
  padding-bottom: 140px;
  color: #5f5f5f;
}
.ex2 .subscr {
  display: flex;
}
.ex2 .subscr .anton_photo {
  padding: 10px;
  box-shadow: 11px 11px 5px rgba(0, 0, 0, 0.1);
}
.ex2 .subscr .anton_greetings {
  width: 50%;
  margin: auto;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 100px;
}

.wrap_sec_2 {
  color: #5f5f5f;
  width: 1300px;
  margin: auto;
  font-family: "Kurale", sans-serif;
}
.wrap_sec_2 .title_sec_2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 1.5;
}
.wrap_sec_2 .logo_sec_2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
.wrap_sec_2 .logo_sec_2 img {
  width: 20%;
}
.wrap_sec_2 .subtitle_sec_2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: 16px;
  line-height: 1.5;
}

.ex3 {
  background-color: rgba(253, 245, 233, 0.8);
  padding-top: 60px;
  padding-bottom: 140px;
}
.ex3 .wrap_sec_3 {
  width: 1300px;
  margin: auto;
  font-family: "Kurale", sans-serif;
  display: flex;
  justify-content: space-around;
  color: #5f5f5f;
}
.ex3 .wrap_sec_3 .card_client {
  width: 30%;
}
.ex3 .wrap_sec_3 .client_amount {
  font-family: "Merriweather";
  margin-bottom: 20px;
  color: tan;
  font-size: 89px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
}
.ex3 .wrap_sec_3 .title_client {
  margin: 20px 0;
  text-align: center;
  font-size: 28px;
}
.ex3 .wrap_sec_3 p {
  font-family: "Open Sana", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.menu_tab {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  font-family: "Kurale", sans-serif;
  font-size: 28px;
}
.menu_tab .tab {
  margin: 0 20px;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.8;
}
.menu_tab .tab_active {
  opacity: 1;
  border-bottom: #5f5f5f 2px solid;
}

.ex4 {
  margin-top: 120px;
  padding-bottom: 140px;
  color: #5f5f5f;
}
.ex4 .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ex4 .content .card {
  width: 24%;
  padding: 10px;
  box-shadow: 11px 11px 15px -10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ex4 .content .card:hover {
  box-shadow: 11px 11px 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 400ms ease;
}
.ex4 .content .card img {
  width: 100%;
}
.ex4 .content .card .card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.ex4 .content .card .card_title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}
.ex4 .content .card .card_price {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
.ex4 .content .card .price-crossed {
  opacity: 0.8;
  text-decoration: line-through;
}
.ex4 .content .card .card_discount {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 10px;
}
.ex4 .content .card .button_cart {
  bottom: 0;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.ex4 .content .card .button_cart a {
  padding: 10px 30px;
  border: #5f5f5f 1px solid;
  color: #5f5f5f;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.ex4 .content .card .button_cart a:hover {
  color: white;
  background-color: #5f5f5f;
  transition: all 400ms ease;
}
.ex4 .link_shop {
  margin-top: 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.ex4 .link_shop a {
  color: #5f5f5f;
  border: #5f5f5f 1px solid;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
}
.ex4 .link_shop a:hover {
  color: white;
  background-color: #5f5f5f;
  border: tan 1px solid;
  transition: all 400ms ease;
}

.ex5 {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.65), hsla(0, 0%, 100%, 0.65)), url("/image/6004a05134e5102d06f8f0b4_D184D0BED0BDD0BFD0B5D0BBD18CD0BCD0B5D0BDD0B8.jpg");
  background-attachment: fixed;
  padding: 100px 0;
}
.ex5 .blog_content {
  display: flex;
  justify-content: space-between;
}
.ex5 .blog_content .blog_card {
  width: 30%;
  padding: 20px;
  background-color: white;
  transition: transform 300ms ease;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.ex5 .blog_content .blog_card:hover {
  transform: scale(1.03);
}
.ex5 .blog_content .blog_card img {
  width: 100%;
}
.ex5 .blog_content .blog_card h3 {
  font-size: 28px;
  margin: 10px 0;
  text-align: center;
  line-height: 1.1;
}
.ex5 .blog_content .blog_card p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}
.ex5 .blog_content .blog_card a {
  color: #5f5f5f;
  font-size: 16px;
  transition: color 500ms ease;
  display: inline-block;
}
.ex5 .blog_content .blog_card a:hover {
  color: tan;
}
.ex5 .blog_content .blog_card .blog_description {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.ex6 {
  padding: 100px 0;
}
.ex6 .card_faq {
  margin: auto;
  margin-bottom: 24px;
  border: 1px solid tan;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  width: 75%;
}
.ex6 .card_faq .faq {
  display: flex;
  justify-content: space-between;
}
.ex6 .card_faq .faq .title_faq {
  margin: 10px 0;
  line-height: 1.3;
  font-size: 21px;
}
.ex6 .card_faq .faq .arrow {
  margin: auto 0;
  transition: all 500ms ease;
}
.ex6 .card_faq .answer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.ex6 .card_faq:hover .answer {
  height: 100%;
  padding-bottom: 20px;
}
.ex6 .card_faq:hover .arrow {
  transform: rotate(180deg);
}

.header {
  background-color: rgba(22, 22, 22, 0.9);
}

.wrap {
  color: #5f5f5f;
  width: 1300px;
  margin: auto;
  margin-top: 60px;
  font-family: "Kurale", sans-serif;
}
.wrap .title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 1.5;
}
.wrap .content {
  padding-bottom: 60px;
  margin-top: 40px;
  display: flex;
}
.wrap .prod_pag {
  width: 80%;
}
.wrap .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.wrap .card {
  cursor: pointer;
  width: 24%;
  padding: 10px;
  box-shadow: 11px 11px 15px -10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .card:hover {
  box-shadow: 11px 11px 15px 0 rgba(0, 0, 0, 0.1);
  transition: all 400ms ease;
}
.wrap .card img {
  width: 100%;
}
.wrap .card .card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.wrap .card .card_title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}
.wrap .card .card_price {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
.wrap .card .price-crossed {
  opacity: 0.8;
  text-decoration: line-through;
}
.wrap .card .card_discount {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 10px;
}
.wrap .card .button_cart {
  bottom: 0;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.wrap .card .button_cart a {
  padding: 10px 30px;
  border: #5f5f5f 1px solid;
  color: #5f5f5f;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.wrap .card .button_cart a:hover {
  color: white;
  background-color: #5f5f5f;
  transition: all 400ms ease;
}

.sidebar {
  padding-left: 60px;
  width: 20%;
}
.sidebar .sb_title {
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
  font-family: "Kurale", sans-serif;
  font-size: 21px;
  line-height: 36px;
}
.sidebar .categories {
  margin-bottom: 20px;
}
.sidebar .category {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar .category_active {
  color: red;
}
.sidebar .search {
  margin-bottom: 20px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
}
.sidebar .search:focus {
  border-color: #3898ec;
}

.pagination {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.pagination .pag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #5f5f5f;
  border: 1px solid #5f5f5f;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease;
}
.pagination .pag:hover {
  background-color: #5f5f5f;
  color: white;
}
.pagination .active {
  background-color: #5f5f5f;
  color: white;
}
.pagination .arrow:hover div {
  background-color: white;
}
.pagination .arrow div {
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #5f5f5f;
}
.pagination .link {
  padding-left: 2px;
}
.pagination .link div:first-child {
  transform: rotate(-45deg) translateX(50%) translateY(4px);
}
.pagination .link div:last-child {
  transform: rotate(45deg) translateX(50%) translateY(-4px);
}
.pagination .right {
  padding-left: 2px;
  transform: rotate(180deg);
}
.pagination .right div:first-child {
  transform: rotate(-45deg) translateX(50%) translateY(4px);
}
.pagination .right div:last-child {
  transform: rotate(45deg) translateX(50%) translateY(-4px);
}

.product {
  margin-bottom: 80px;
  color: #5f5f5f;
}

.product_content {
  display: flex;
  justify-content: space-between;
}
.product_content img {
  width: 100%;
}
.product_content .thumbnail {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.product_content .thumbnail img {
  -o-object-fit: contain;
     object-fit: contain;
}
.product_content .thumbnail .thum_img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}
.product_content .thumbnail .thum_active {
  border: 2px solid red;
}
.product_content .main_img {
  height: 600px;
  margin-right: 60px;
  overflow: hidden;
  width: 100%;
}
.product_content .product_data {
  width: 70%;
}
.product_content .product_title,
.product_content .product_price {
  font-size: 38px;
  margin-bottom: 10px;
}
.product_content .product_add {
  display: flex;
  margin-top: 20px;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #ededed;
  margin-bottom: 40px;
}
.product_content .product_add .to_cart {
  padding: 0 20px;
  background-color: #5f5f5f;
  color: white;
  margin: 10px 0;
  border: 1px solid #5f5f5f;
  font-size: 12px;
  text-transform: uppercase;
  transition: color, background-color, 200ms ease;
}
.product_content .product_add .to_cart:hover {
  color: #5f5f5f;
  background-color: white;
}
.product_content .product_subtitle,
.product_content .product_weight {
  font-family: "Open Sans Bold", sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}
.product_content .product_composition {
  padding-left: 40px;
}
.product_content .product_composition li {
  list-style-type: disc;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.product_content p, .product_content h4 {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.title_suggest {
  margin-bottom: 60px;
  font-size: 31px;
  text-align: center;
  line-height: 44px;
}

.count {
  display: flex;
  margin-right: 20px;
}
.count .product_qty_decrement,
.count .product_qty_increment {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
.count .product_quantity {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}/*# sourceMappingURL=product_style.css.map */