@import "nullstyle.scss";
@import "font.scss";
@import "header.scss";
@import 'footer.scss';

.wrap_sec_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  margin: auto;
  height: 100%;
  color: white;
  .logo_pfunt {
    text-align: center;
    margin-bottom: 10px;
    img {
      width: 20%;
    }
  }
  h1 {
    font-family: "Kurale", sans-serif;
    font-size: 67px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 3px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .separator {
    text-align: center;
    img {
      width: 15%;
    }
  }
  p {
    font-family: "Kurale", sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.ex1 {
  margin-top: -65px;
  animation: back 12s linear infinite alternate;
  //   background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @keyframes back {
    0% {
      background-image: url("../image/huhnchen_pelmeni_banner.jpg");
    }
    50% {
      background-image: url("../image/wareniki_kirsche_banner.jpg");
    }
    100% {
      background-image: url("../image/6004788b98c87bf710848f8e_Group2012.jpg");
    }
  }
  height: 100vh;
  position: relative;

  .shop-button {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 25px;
    margin-top: 40px;
    color: $linkcolor;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: $linkcolor;
      color: $darkcolor;
    }
  }
  .slide-nav {
    position: absolute;
    bottom: 15px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    .slide {
      width: 15px;
      height: 15px;
      margin-right: 16px;
      background-color: white;
      border-radius: 50%;
    }
    .slide1 {
      animation: sl1 6s infinite alternate;
      @keyframes sl1 {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 0.5;
        }
      }
    }
    .slide2 {
      animation: sl2 6s infinite alternate;
      @keyframes sl2 {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }
    }
    .slide3 {
      animation: sl3 6s infinite alternate;
      @keyframes sl3 {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

.ex2 {
  margin-top: 120px;
  padding-bottom: 140px;
  //   width: 100%;
  color: $darkcolor;
  .subscr {
    display: flex;
    .anton_photo {
      padding: 10px;
      box-shadow: 11px 11px 5px rgba(0, 0, 0, 0.1);
    }
    .anton_greetings {
      width: 50%;
      margin: auto;
      font-size: 21px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 100px;
    }
  }
}
.wrap_sec_2 {
  color: $darkcolor;
  width: 1300px;
  margin: auto;
  font-family: "Kurale", sans-serif;
  .title_sec_2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 1.5;
  }
  .logo_sec_2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    img {
      width: 20%;
    }
  }
  .subtitle_sec_2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-style: 16px;
    line-height: 1.5;
  }
}

.ex3 {
  background-color: rgba(253, 245, 233, 0.8);
  padding-top: 60px;
  padding-bottom: 140px;
  .wrap_sec_3 {
    width: 1300px;
    margin: auto;
    font-family: "Kurale", sans-serif;
    display: flex;
    justify-content: space-around;
    color: $darkcolor;
    .card_client {
      width: 30%;
    }
    .client_amount {
      font-family: "Merriweather";
      margin-bottom: 20px;
      color: $hovercolor;
      font-size: 89px;
      line-height: 1;
      text-align: center;
      font-weight: 400;
    }
    .title_client {
      margin: 20px 0;
      text-align: center;
      font-size: 28px;
    }
    p {
      font-family: "Open Sana", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.ex4 {
  margin-top: 120px;
  padding-bottom: 140px;
  //   width: 100%;
  color: $darkcolor;
  .menu_tab {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    font-family: "Kurale", sans-serif;
    .tab {
      margin: 0 20px;
      padding: 15px 20px;
      cursor: pointer;
      font-size: 28px;
      font-weight: 400;
      opacity: 0.8;
    }
    .tab_active {
      opacity: 1;
      border-bottom: #5f5f5f 2px solid;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      width: 24%;
      padding: 10px;
      box-shadow: 11px 11px 15px -10px rgba(0, 0, 0, 0.1);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:hover {
        box-shadow: 11px 11px 15px 0 rgba(0, 0, 0, 0.1);
        transition: all 400ms ease;
      }
      img {
        width: 100%;
      }
      .card_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
      }
      .card_title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 21px;
        font-weight: 400;
        line-height: 1.5;
      }
      .card_price {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
      }
      .price-crossed {
        opacity: 0.8;
        text-decoration: line-through;
      }
      .card_discount {
        color: red;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 10px;
      }
      .button_cart {
        bottom: 0;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
        a {
          padding: 10px 30px;
          border: $darkcolor 1px solid;
          color: $darkcolor;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          &:hover {
            color: $linkcolor;
            background-color: $darkcolor;
            transition: all 400ms ease;
          }
        }
      }
    }
  }
  .link_shop {
    margin-top: 50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    a {
      color: $darkcolor;
      border: $darkcolor 1px solid;
      padding: 10px 25px;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        color: $linkcolor;
        background-color: $darkcolor;
        border: $hovercolor 1px solid;
        transition: all 400ms ease;
      }
    }
  }
}

.ex5 {
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.65),
      hsla(0, 0%, 100%, 0.65)
    ),
    url("/image/6004a05134e5102d06f8f0b4_D184D0BED0BDD0BFD0B5D0BBD18CD0BCD0B5D0BDD0B8.jpg");
  background-attachment: fixed;
  padding: 100px 0;
  .blog_content {
    display: flex;
    justify-content: space-between;
    .blog_card {
      width: 30%;
      padding: 20px;
      background-color: white;
      transition: transform 300ms ease;
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &:hover {
        transform: scale(1.03);
      }
      img {
        width: 100%;
      }
      h3 {
        font-size: 28px;
        margin: 10px 0;
        text-align: center;
        line-height: 1.1;
      }
      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.5;
      }
      a {
        color: $darkcolor;
        font-size: 16px;
        transition: color 500ms ease;
        display: inline-block;
        &:hover {
          color: $hovercolor;
        }
      }
      .blog_description {
        font-family: "Open Sans", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30%;
      }
    }
  }
}

.ex6 {
  padding: 100px 0;
  .card_faq {
    margin: auto;
    margin-bottom: 24px;
    border: 1px solid $hovercolor;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    width: 75%;
    .faq {
      display: flex;
      justify-content: space-between;
      .title_faq {
        margin: 10px 0;
        line-height: 1.3;
        font-size: 21px;
      }
      .arrow {
        margin: auto 0;
        transition: all 500ms ease;
      }
    }
    .answer {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      height: 0;
      overflow: hidden;
      transition: all 500ms ease-in-out;
    }
    &:hover {
      .answer {
        height: 100%;
        padding-bottom: 20px;
      }
      .arrow {      
        transform: rotate(180deg);
      }
    }
  }
}

