<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
<div id="m_-4861257405212298675wrapper" dir="ltr" style="background-color:#f7f7f7;margin:0;padding:70px 0;width:100%">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="600"
                       style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="background-color:#96588a;
                                       color:#ffffff;border-bottom:0;
                                       font-weight:bold;line-height:100%;
                                       vertical-align:middle;
                                       font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
                                       border-radius:3px 3px 0 0">
                                <tbody>
                                <tr>
                                    <td style="padding:36px 48px;display:block">
                                        <h1 style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
                                                    font-size:30px;font-weight:300;
                                                    line-height:150%;
                                                    margin:0;text-align:left;color:#ffffff;
                                                    background-color:inherit">
                                            Danke für deine Bestellung
                                        </h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="background-color:#ffffff">
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:48px 48px 32px">
                                                                <div style="color:#636363;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
                                                                                 font-size:14px;line-height:150%;text-align:left">
                                                                    <p style="margin:0 0 16px">Hallo {{ order.address_last_name}},</p>
                                                                    <p style="margin:0 0 16px">
                                                                        vielen Dank für deinen Auftrag! Wir
                                                                        haben deine Bestellung #{{ order.id }}
                                                                        erhalten und werden sie umgehend
                                                                        bearbeiten.
                                                                    </p>
                                                                    <h2 style="color:#96588a;display:block;
                                                                                          font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
                                                                                          font-size:18px;
                                                                                          font-weight:bold;line-height:130%;
                                                                                          margin:0 0 18px;text-align:left">
                                                                        (Bestellnummer #{{ order.id }}) ({{ order.date_created }})
                                                                    </h2>
                                                                    <div style="margin-bottom:40px">
                                                                        <table cellspacing="0"
                                                                               cellpadding="6" border="1"
                                                                               style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                                            <thead>
                                                                            <tr>
                                                                                <th scope="col"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Produkt
                                                                                </th>
                                                                                <th scope="col"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Anzahl
                                                                                </th>
                                                                                <th scope="col"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Preis
                                                                                </th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for item in order_items %}
                                                                            <tr>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;word-wrap:break-word">
                                                                                    {{ item.product.title}}
                                                                                </td>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                                                    {{ item.quantity}}
                                                                                </td>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                                                    <span>{{ item.total_price}}&nbsp;<span>€</span></span>
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                            <tfoot>
                                                                            <tr>
                                                                                <th scope="row" colspan="2"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                                    Zwischensumme:
                                                                                </th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                                    <span>{{ order.products_price}}&nbsp;<span>€</span></span>
                                                                                </td>
                                                                            </tr>
                                                                            {% if order.delivery_cost %}
                                                                            <tr>
                                                                                <th scope="row" colspan="2"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Lieferung:
                                                                                </th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    <span>{{ order.delivery_cost }}&nbsp;<span>€</span></span>&nbsp;<small>via
                                                                                    Lieferung innerhalb
                                                                                    <span class="il">Hamburg</span>
                                                                                    {{ order.delivery_cost }}€</small>
                                                                                </td>
                                                                            </tr>
                                                                            {% endif %}
                                                                            <tr>
                                                                                <th scope="row" colspan="2"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Zahlungsmethode:
                                                                                </th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    {{ order.payment_type }}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row" colspan="2"
                                                                                    style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    Gesamt:
                                                                                </th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    <span>{{ order.total_price }}&nbsp;<span>€</span></span>
                                                                                    <small>(inkl. <span>{{ tax.sum }}&nbsp;<span>€</span></span>
                                                                                        MwSt. {{ tax.tax_cost }}
                                                                                        %
                                                                                        DE)</small>
                                                                                </td>
                                                                            </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                    <table id="m_-4861257405212298675addresses"
                                                                           cellspacing="0" cellpadding="0"
                                                                           border="0"
                                                                           style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td valign="top" width="50%"
                                                                                style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
                                                                                <h2 style="color:#96588a;display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
                                                                                    Rechnungsadresse</h2>

                                                                                <address
                                                                                        style="padding:12px;font-weight:normal;color:#636363;border:1px solid #e5e5e5">
                                                                                    {{ order.address_last_name }}
                                                                                    <br>{{ order.address_street }}
                                                                                    {{ order.address_home_number }}
                                                                                    <br>{{ order.address_ZIP }}
                                                                                    {{ order.address_city }} <br><a
                                                                                        href="tel:{{
                                                                                    order.phone_number
                                                                                    }}"
                                                                                        style="color:#96588a;;text-decoration:underline"
                                                                                        target="_blank">{{ order.phone_number }}</a>
                                                                                    <br><a
                                                                                        href="mailto:{{
                                                                                    order.email }}"
                                                                                        target="_blank">{{ order.email }}</a>
                                                                                </address>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p style="margin:0 0 16px;font-weight:normal">Vielen
                                                                        Dank,
                                                                        dass Sie <a
                                                                                href="http://pelmeni-hamburg.de"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://pelmeni-hamburg.de&amp;source=gmail&amp;ust=1695221505242000&amp;usg=AOvVaw3tL2mQHb_etCksmnrUlshW"><span
                                                                                class="il">pelmeni</span>-<span
                                                                                class="il">hamburg</span>.de</a>
                                                                        verwenden!</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>